@charset "UTF-8";

.roadmap{
    width: 925px;
    height: auto;
    margin-top: 50px;

}

.kermit{
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    transform: translate(480px, -240px);
}
